body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
/* ****** */
/* Header */
/* ****** */
h1 {
    text-align: center;
}
/* ****** */
/* Content */
/* ****** */
/* Info Area */
.info-area {
    display: flex;
    justify-content: center;
}
.reset {
    margin-left: 30%;
}
.moves {
    margin-left: 5%;
}
/* Play Area */
.cards-list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    grid-gap: 20px;
    list-style: none;
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 15px;
    padding-bottom: 15px;
}
.play-wrapper {
    display: grid;
    justify-content: center;
}
.card {
    width: 150px;
    height: 150px;
    border: 1px solid lightcoral;
    background-color: lightskyblue;
}
/* ****** */
/* Footer */
/* ****** */
.copyright {
    text-align: center;
}