body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
/* ****** */
/* Header */
/* ****** */
h1 {
    text-align: center;
}
/* ****** */
/* Content */
/* ****** */
/* Info Area */
.info-area {
    display: flex;
    justify-content: center;
}
.reset {
    margin-left: 30%;
}
.moves {
    margin-left: 5%;
}
/* Play Area */
.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-items: center;
    grid-gap: 20px;
    list-style: none;
    border: 1px solid black;
    background-color: lightblue;
    padding: 3% 0 3% 0;
}
.play-wrapper {
    display: grid;
    justify-content: center;
}
.card {
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 0;
    width: 150px;
    height: 150px;
    border: 1px solid lightcoral;
    background-color: rgba(62, 65, 104, 0.6);
    color: lightgoldenrodyellow;
    cursor: pointer;
}
.card.open {
    transform: rotateY(0);
    cursor: default;
    background-color: rgba(12, 28, 220, 0.6);
}
.card.show {
    font-size: 3em;
}
.card.match {
    font-size: 3em;
    cursor: default;
    background-color: lightcoral;
    border: 1px solid white;
}
.card.unclick {
    pointer-events: none;
}
/* ****** */
/* Footer */
/* ****** */
.copyright {
    text-align: center;
}